{% extends 'layout.twig' %}

{% block body %}
  <div>
    Username for getstream: {{ nickname }}  <br/>
  </div>

  <div>
    User token: {{ userToken }}
  </div>

  <div>
    <a id="follow-and-listen" href="#">Follow '{{feedGroup}}::{{feedConfig.name}}' and subscribe to its changes</a>
  </div>

  <div>
    <a id="send-message" href="#">Send serverside message to '{{feedGroup}}:{{feedConfig.name}}'</a>
  </div>


  <h4>Latest Feeds</h4>
  <div id="latest-feeds" style="border:1px solid #BBB; min-height:300px; padding: 10px">
    Click on Follow to get the latest feeds
  </div>


    <script>

    var client = stream.connect(
        '{{feedConfig.key}}',
        '{{userToken}}',
        '{{feedConfig.id}}'
    );

    var user1 = client.feed('{{feedGroup}}','{{nickname}}');


        $("#follow-and-listen").click(function (e) {
            e.preventDefault();
			user1.follow('{{feedGroup}}','{{feedConfig.name}}').then(function () {
				console.log('follow succeed');
				user1.subscribe(function(data){
                    data.new.forEach(function (feedData) {
						$("#latest-feeds").prepend($('<div>').html(feedData.tweet));
                    });
				});

				user1.get({ offset: 0, limit: 20}).then(function (r) {
					$("#latest-feeds").empty();

					r.results.forEach(function (feedData) {
						$("#latest-feeds").append($('<div>').html(feedData.tweet));

					});
					console.log(r);
				});

			});
		});


        $("#send-message").click(function (e) {
            e.preventDefault();
            $.post("/feeds", {message: "Date time: " + new Date().toString()});

            console.log("message served on server side, you should get a notification to update your feed");
        });

        
    </script>

{% endblock %}
