<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <script src="https://cdn.jsdelivr.net/npm/getstream/dist/js_min/getstream.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>

    <style>
        div {
            margin: 10px;
        }

        a {
            text-decoration: none;
        }

    </style>

  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
